In [1]:
import numpy as np
import pandas as pd
import math
import seaborn as sns
from datetime import datetime
import matplotlib.pyplot as plt
import cvxpy as cp
import warnings
warnings.filterwarnings("ignore")

In [2]:
import McExperiment
from McExperiment import *
import importlib
importlib.reload(McExperiment)

In [3]:
train = pd.read_csv('train.csv')
train.head()

        month       SPY       TLT     BAB       VOL      rf
0  2019-11-01  0.036170 -0.004912 -0.0281 -0.008551  0.0012
1  2013-02-01  0.013494  0.012934  0.0187 -0.049478  0.0000
2  2008-05-01  0.012862 -0.024560  0.0085  0.006354  0.0018
3  2015-02-01  0.057365 -0.058042 -0.0209 -0.002007  0.0000
4  2006-05-01 -0.028782  0.001219  0.0025  0.005858  0.0043

In [4]:
# 5Y max Sharpe Strategy -------------------------------------------------------------------------------
# All value ar risk quoted in a return way (not in a loss way)
ratio1 = [0.6,0.4,0.5,0.5,0]
print(ratio1)
SAVE = 40000
CAP = 50000
g = 0.05
MC = 100
# Get the analysis for end of 5Y/7Y/10Y 
Simu_table = Experiments(MC,120,train,CAP,SAVE,g,ratio1,years=[60,84,120],tax=0)
Summary_table = GetSummary(Simu_table)
Summary_table = Summary_table.fillna(0)
Summary_table.round(2)

[0.6, 0.4, 0.5, 0.5, 0]

,Expected Cap,Std Cap,Exp Cap < 500k,Prob >= 500k,Expected Annual_sharpe,Expected MDD,ret VaR,ret CVaR,GaR,CGaR
5Y,2433331.38,373367.80,0,1.0,1.20,0.10,9.63,8.88,1195471.16,997229.14
7Y,7989497.09,1648936.16,0,1.0,1.21,0.11,32.82,22.83,4827836.65,3321648.80
10Y,45315023.54,12132390.39,0,1.0,1.21,0.11,157.15,156.50,25340363.34,23707390.71